.nav{
   background-color: rgb(73, 51, 133);
}

.main-logo{
    width:150px;height:auto;
}

.nav-text{
    font-size:25px;color:white;margin-right: 10px;
}
.nav-text:hover{
color:aquamarine;
}
.slider-image{
    background-position: center;background-size: cover;height: 600px;
}
.slider{
    height:600px;
}
.get-started{
    background-color: blueviolet;color:whitesmoke;font-size: 26px;border-radius: 10px;
}
.slider-header{
    font-size:40px;
}
.slider-description{
    font-size:20px;
}
.slider-text{
    margin-bottom: 100px;
}
.about-text{
margin:40px 300px;
}
.col-about-description{
    font-size:18px;
}
.about-img{
    width:100px;float:left;
}
.about-title{
    font-size:35px;
}
.about-description{
    text-align:center;
}
.price{
    background-color:rgb(223, 215, 215);
}
.price-img{
    width:150px;height:150px;border-radius:50%;margin-left: 40px;
}
.price-header{
    font-size:35px;
}
.price-description{
    font-size:18px;
}
.price-text{
    margin:20px 300px;text-align: center;
}
.col-price {
    background-color: beige;margin-left: 50px;height: 400px;border-radius: 15px;
}
.basic .basic-price{
    margin-left: 40px;
}
.testimonial-text{
    width: 500px;margin: auto;
}
.test-description{
    text-align: center;
}
.test-header{
    font-size: 35px;
}
.col-test{
    border: 1px solid grey;margin-left:50px;border-radius: 10px;
}
.name .job{
    margin-left:50px;
}
.test-img{
    width:150px;height:150px;border-radius: 50%; margin-left:50px;
}

.contact{
    background-color: aquamarine;
}

.contact-text{
    margin: 20px auto 20px 300px;
}
.contact-description{
    text-align: center;
}
.footer-ul li{
    list-style-type: none;
}
.footer-text{
    margin:20px auto 20px auto;
}

.footer-ul li a{
    font-size:22px;
}
.footer-ul{
    margin-left:70px;
}